.offer-page {
  background-color: #fafafa;
}

.offer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.offer-presentation {
  display: flex;
  flex-direction: column;
  height: 600px;
  width: 607px;
  border: solid 1px;
  box-shadow: 0px 2px 5px;
  background: #ffffff;
  padding-bottom: 40px;
}
.offer-picture-wrapper {
  display: flex;
  background-color: #cad1d8;
  width: 607px;
}

.offer-picture-wrapper > img {
  object-fit: contain;
  width: 607px;
  height: 500px;
}

.offer-complete-description {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  height: 110px;
  width: 607px;
}

.offer-descrip {
  font-size: 16px;
  line-height: 140%;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
}

.offer-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  color: #1a1a1a;
}
.offer-price {
  color: #f56b2a;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
}
.offer-created {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-top: 40px;
  padding-left: 10px;
}
.offer-description {
}

.offer-title-price-and-desc {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  justify-content: space-between;
}
